@font-face {
    font-family: 'Helvetica neue';
    src: url('../fong/HelveticaNeue.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica neue';
    src: url('../fong/HelveticaNeue.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Neuepixelgrotesk';
    src: url('../font/NeuePixelGrotesk.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'NeuePixelGrotesk';
    src: url('../font/NeuePixelGrotesk.woff') format('woff');
    font-weight: 500;
}

// @font-face {
//     font-family: 'dalmoori';
//     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Noto+Sans:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet');